html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}

//так не делатт, глобальный класс
:global(.font-size) {
  font-size: 16;
}
